.modal-overlay {
    position: absolute;
    background: white;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-window {
    position: fixed;
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 15px;
}

.modal-content {
    padding: 15px;
}