.modal-overlay {
    position: absolute;
    background: gray;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal-window {
    position: fixed;
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 15px;
}

.modal-content {
    padding: 15px;
}

.modal-moving {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: move;
}